<!DOCTYPE html>
<html>
<head>
        <script type="text/javascript" src="/js/vendor/jquery.2.1.0.js"></script>
      <!--  <script type="text/javascript" src="/js/vendor/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="/js/vendor/jquery-ui.min.js"></script> !-->

        <script type="text/javascript" src="/js/vendor/underscore-min.js"></script>

        <script type="text/javascript" src="/js/newtab/knote-client.js"></script>


        <script type="text/javascript" src="/js/browser-action/browserPopup.js"></script>

        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">


</head>
<body>
    <div id="browsericonView">
		<textarea  style="resize: none;outline-width: 0px; border: none; color: #777; padding: 5px;" id="knote-textarea" placeholder="Enter a note"></textarea> <br />
		<!-- <button class="knotable-button knotable-button-full" id="knotable-popup">Add knote</button> -->
        <button style="background: #f7f7f7; border: 1px solid #ddd; margin-left: 7px; margin-bottom: 5px;" class="btn btn-clear" id="btn-add-knote">
            <i class="glyphicon glyphicon-plus"></i>
        </button>

        <button style="float: right; background: #f7f7f7; border: 1px solid #ddd; margin-right: 7px; margin-bottom: 5px;" class="btn btn-clear" id="btn-open-tab">
            <i class="glyphicon glyphicon-list-alt"></i>
        </button>
	</div>
</body>
</html>